<h1>У вас нет семейного аккаунта</h1>

<div class="col text-center">
    <form method="post" asp-controller="Chat" asp-action="Create" asp-route-isFamily="true">
        <button type="submit" class="btn btn-primary">Создать семейный аккаунт</button>
    </form>
</div>